body {
    background-color: darkcyan;
    color: cornsilk;
    font-family: 'Annie Use Your Telescope', cursive;
}

h1 { /* for the Pans.ly header */
    text-align: center;
}

button {
    margin: 20px;
}

.centerContainer {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 300px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}