body {
    background-color: darkcyan;
    color: cornsilk;
    font-family: 'Annie Use Your Telescope', cursive;
}

h1 { /* for the Pans.ly header */
    text-align: center;
}

button {
    margin: 20px;
    border-radius: 6px;
    background-color: blueviolet;
    font-size: 20px;
    border: none;
    color: azure;
    box-shadow: 4px 4px darkslategray;
}

button:hover {
    background-color: coral;
    box-shadow: 2px 2px darkslategray;
}

input {
    border-radius: 6px;
    background-color: darkseagreen;
    color: cornsilk;
    font-size: 24px;
}

.centerContainer {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 300px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}